.container-login{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #101011;
    height: 100vh;
    color: white;
    
}


.container-login-form{
    padding: 1.5rem;
    flex-grow: 1;
}

